body {
	width:100%;
	background-color: white;
}

html {
	background-color: dimgray;
	width:100%;
	height:100%;
}

header,nav,section,hr {
	margin: auto;
	background-color: white;
	width: 96%;
	max-width: 960px;
}

footer {
	margin: auto;
	background-color: white;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

nav a {
	display: block;
	text-decoration: none;
	color: black;
}

nav a:hover {
	color: rgb(234,97,83);
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img.grayscale:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

h3 {
	font-size: 24px;
	font-family: Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-weight: 100;
	padding-bottom: 2%;
}

.flexchild .contacts {
	font-size: 16px;
	font-family: Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-weight: 100;
	color:black;
}

.description {
	font-size: 18px;
	font-family: Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-weight: 100;
	color: #707070;
	padding: 8% 0%;
	line-height: 24px;
}

.aboutus {
	font-size: 14px;
	font-family: Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-weight: 100;
	color: #707070;
	padding: 0% 2% 4% 2%;
}

.uslugatext {
	font-size: 14px;
	font-family: Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-weight: 100;
	color: #707070;
	line-height: 20px;	
}

.leftimg .contacts:nth-child(even) {
	padding-bottom: 10%;
}

.flexchild .contacts:nth-child(even) {
	padding-bottom: 10%;
}

.flexchild .uslugatext {
	padding-left: 30px;
}

.flexchild h5 {
	bottom:18.8%;
}

.flexchild h4 {
	padding: 2% 2%;
}

.contact {
	padding-bottom: 10%;
	padding-top: 5%;
	line-height: 20px;
}

.flexchild:nth-child(even) {
	flex-grow:1;
	-webkit-flex-grow:1;
	padding: 0% 2%;
}

.container {
	position: relative;
	text-align: center;
}
 
.imgcontainer {
	position: relative;
	text-align: left;
}
 
.imgcontainer:after {
  content:"";
  display:table;
  clear:both;
}

.logotext {
	font-size: 16px;
	font-family: Trebuchet MS,Geneva,Arial,Helvetica,sans-serif;
	font-weight: 100;
	color: rgba(102, 102, 102, 0.8);
	padding-bottom: 1%;
}

.call {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgb(234,97,83);
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.5);
    width: 18%;
    padding: 12px 10px;
    text-decoration: none;
    color: #FFF;
    font-family: Trebuchet MS,Geneva,Arial,Helvetica,sans-serif;
    font-weight: 700;
}

.flexparent {
	display: inline-flex;
	display:-webkit-flex;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	align-items: flex-start;
	-webkit-align-items: flex-start;
	align-content: flex-start;
	-webkit-align-content: flex-start;
	width: 100%;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	padding-bottom: 5%;
}

.horizontal {
	margin: 3%;
	border: 0px none;
	height: 2px;
	text-align: center;
	background-image: linear-gradient(to right, transparent, rgba(234,97,83, 0.8), transparent);

}

header hr {
	/*margin: 0% 15%;*/
	border: 0px none;
	height: 2px;
	text-align: center;
	background-image: linear-gradient(to right, transparent, rgba(234,97,83, 0.8), transparent);
}

#menu {
	text-align: center;
	padding-bottom: 3%;
	padding-top: 1%;
}

#menu li{
	margin: 0 4%;
	display: inline-block;
	font-size: 16px;
	font-family: Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-weight: 100;
}

h2 {
	font-size: 16px;
	font-family: Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-weight: 100;
	padding: 1.5% 0%;
	text-align: center;
}

#menu img {
	vertical-align: middle;
}

.mainPicture {
	position: relative; 
}

.mainPicture img {
	width: 100%;
}

.pictureText {
	position: absolute; 
    background-color: rgba(234,97,83, 0.85);
    bottom: 6%;
    left: 2%;
    padding: 2% 0%;
    color:white;
    font-size: 12px;
	font-family: Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-weight: 100;
	width: 65%;
	box-sizing: border-box;
}

.largepictureText {
	position: absolute; 
    background-color: rgba(234,97,83, 0.85);
    bottom: 40px;
    left: 20px;
    padding: 1% 2% 1% 2%;
    color:white;
    font-size: 20px;
	font-family: Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-weight: 100;
	z-index: 2;	
}

.menuheight {
	line-height: 50px;
}

.hrText {
	background-color: white; 
	position: relative; top: -0.5em;
	font-size: 24px;
	font-family: Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-weight: 100;
	padding-left: 15%;
	padding-right: 15%;
}

.parent {
	display: inline-flex;
	display:-webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}

.parentspec {
	display: inline-flex;
	display:-webkit-flex;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	padding-bottom: 20px;
}

.projectcontainer {
	display: inline-flex;
	display:-webkit-flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;

	width: 100%;	
	align-items: flex-start;
	-webkit-align-items: flex-start;
	align-content: flex-start;
	-webkit-align-content: flex-start;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	padding-bottom: 5%;
}

.child {

    position: relative; 
    text-align: center;
}

.child img {
	padding-top: 5%;
}

.grayStyle {
	padding: 2% 0 2% 0;
	background-color: #F3F3F3;
	width: 100%;
}

.infowrapper {
	margin: auto;
	width: 96%;
	max-width: 960px;
	display: flex;
	display:-webkit-flex;
	justify-content: -webkit-space-between;
	justify-content: space-between;
}

.infoblock {
	display: inline-block;
	width: 34.375%;
	vertical-align: top;
}

.infoblock:last-child {
	width: 31.25%;
}

.infotext {
	width: 90%;
	line-height: 20px;
	font-family: Trebuchet MS,Geneva,Arial,Helvetica,sans-serif;
	font-weight: 100;
	font-size: 12px;
	color: #8E8E8E;
	list-style: none;
}

.leftimg {
	float: left;
	margin-right: 3%;
}

.footerline {
	background-color: rgb(234,97,83);
	width:100%;
	height: 3px;
	height: 4px;
	max-width: none;
}

footer p {
	color:black;
	font-family: Trebuchet MS,Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.firstLetter {
	color: rgb(234,97,83);
}

h4 {
	font-size: 24px;
	font-family: Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-weight: 100;
	padding-bottom: 5%;
}

.usluga {
	color: #8E8E8E;
}

.usluga:hover {
	color:#2D2D2D;
}

.skewblock {
	position: absolute;
	background-color: rgba(234,97,83, 0.85);
	right: 0%;
	bottom: 18.9%;
	width: 25%;
	padding: 2% 4%;
	color: #FFF;
	font-size: 12px;
	font-family: Trebuchet MS,Geneva,Arial,Helvetica,sans-serif;
	font-weight: 100;
    -moz-transform: skewY(-30deg);
    -webkit-transform: skewY(-30deg);
    -o-transform: skewY(-30deg);
    -ms-transform: skewY(-30deg); /* для IE9 */
    transform: skewY(-30deg); /* на будущее */
}

.rotateblock {
	position: absolute;
	right: 0%;
	bottom: 18.9%;
	width: 25%;
	padding: 2% 4%;
	font-size: 12px;
	font-family: Trebuchet MS,Geneva,Arial,Helvetica,sans-serif;
	font-weight: 100;
	color:white;
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg); /* для IE9 */
    transform: rotate(-30deg); /* на будущее */
}


input::-webkit-input-placeholder {
   color: black; 
   opacity: 1;
}

input:-moz-placeholder { /* Firefox 18- */
   color: black; 
   opacity: 1;
}

input::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */
   font-size:12px;
   color: black; 
   opacity: 1;
}

input:-ms-input-placeholder {  
   color: black; 
   opacity: 1;
}

.dataIn,textarea {

	outline: 0px none;
	border: 0px none;
	padding: 4px 8px 4px 12px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 3%;
	font-family: Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
}

textarea {
	margin-bottom: 0% !important;
}

form {
	width: 85%;
}

.sendForm {
	text-align: right;
}

.submit {
	color: white;
	background-color: rgb(234,97,83);
	padding: 5px 15px 5px 15px;
	outline: 0px none;
	border: 0px none;
}

.aboutUs {
	text-align: center;
	font-size: 14px;
}

.one {
  width:30px;
  height:30px;
  background-color:white;
  position:absolute;
  border: 6px solid rgb(234,97,83);
}

.two {
  position:relative;
  width:30px;
  height:6px;
  background-color:rgb(234,97,83);
  top:60%;
  left:0%;
}

.three {
  position:relative;
  width:30px;
  height:6px;
  background-color:rgb(234,97,83);
  top:0;
  left:0%;
}

.one {
	display: none;
}

@media(max-width:767px){

	.call {
		display: block;
		width: auto;
		position: static;
		height: 42px;
    	line-height: 42px;
    	padding: 0;
	}

	.logo {
		display: block;
	}

	.one {
		display: block;
	}

 	header,nav,section,.infowrapper {
 		width: 100%;
 	}

 	#menu {
 		display: none;
 		text-align: inherit;
 	}

 	#menu li {
 		width: 100%;
 		margin: 0%;
 	}

 	#menu li a {
 		padding-left: 4%;
 		background-color: rgb(234,97,83);
 		border-bottom: 2px solid white;
 		color: white;
 	}

 	.firstLetter {
 		color: #700000;
 	}

 	header h2 {
 		padding: 1.5% 2%;
 	}

 	.largepictureText {
 		bottom: 25px;
	    right: 0px;
	    left: auto;
	    width: 100%;
	    font-size: 14px;
	    text-align: center;
 	}

 	.hrText {
 		padding: 0% 3%;
 	}

 	.horizontal {
 		margin: 3% 0%;
    	line-height: 20px;
 	}

 	.parent {
 		padding-bottom: 4%;
 		justify-content: space-around;
 	}

 	.child {
 		width: 100%;
 	}

 	.child img {
 		width: 100%;
 	}

 	.grayStyle {
 		text-align: center;
 		width: auto;
 	}

 	.infowrapper {
 		display: block;
 	}

 	.infoblock {
 		width: 100%;
	    padding: 3% 0%;
	    border-bottom: 2px solid rgb(234,97,83);
 	}

 	.infoblock:last-child {
 		width: 100%;
	    padding: 3% 0%;
	    border-bottom: none;
 	}

 	form, .infoblock p {
 		padding: 0% 5%;
 		width: 90%;
 	}

 	.infotext {
 		width: auto;
 		padding: 0% 5%;
 	}
}